* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(30, 31, 41);
    /* background-color: rgb(244, 244, 245); */
}

/* navbar */

nav{
    margin: 0 auto;
    width: 95%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.searchBar{
    width: 1000px;
    height: 48px;
}

.searchInput{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: none;
    outline: none;
    padding-left: 20px;
    font-size: 16px;
}

.username {
    color: #fff;
    font-size: 20px;
}



/* navbar */

/* tags */
.tags{
    width: 95%;
    margin: 0px auto 10px;
    display: flex;
    align-items: center;
}

.tagBtn{
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 20px;
    background-color: #fd6311;
    color: #fff;
    border: 1px solid transparent;
    transition: all .2s ease-in;
    margin:10px 30px 0 0px;
    cursor: pointer;

}
.tagBtn:hover {
    color: #fd6311;
    background-color: transparent;
    border: 1px solid #fd6311 ;
}

/* tags */


/* content */

.container {
    width: 1400px;
    margin: 20px auto;
    columns: 5;
    column-gap: 20px;
}

.container .box {
    width: 100%;
    cursor: zoom-in;
    break-inside: avoid;
}

.container .box img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
}


/* content */


